body {
	font-family: Roboto;
}
/*
#mainChart {
	max-width: 800px;
}

#chartContainer {
	background-color: #92D2D9;
}

#mainContainer {
	background-color: #F5F2F4;
}

#navbar {
	background-color: white !important;
	padding: 10px;
}

.navbar-brand {
	color: white; !important
}

#navbar.scrolled {
    background-color: white !important;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#navbar.scrolledOver {
    background-color: #92D2D9;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.navbarText.reversed {
	color: #92D2D9 !important;
}

.pageLink {
	color: white !important;
	font-size: 18px;
}*/

#main-nav {
	background-color: #378ca9;
}

#logo {
	margin-left: 10px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#first-section {
	background-color: #6DBCDB;
}

#percentage {
	text-align: center;
	color: black;
	margin-bottom: 0;
	padding-bottom: 0;
}

#mainChart {
	margin: auto;
}

#second-section {
	background-color: #eceff0;
}

h5 {
	text-align: center;
}

.info-text {
	font-size: 18px;
	text-align: center;
}

#third-section {
	background-color: #eeeee;
}

